/* styles.css */
/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line 
    border: 0;
} */
@font-face {
    font-family: 'Moonhouse';
    src: url('Fonts/Moonhouse-yE5M (1).ttf') format('ttf'),


}

body {
    font-family: Moonhouse;
}

.title {
    font-family: var(--body-font);
    font-weight: 300;
    background-color: var(--light-gray);
    color:#2b467cd2 ;
    /* display: flex;
    justify-content: center; */
    
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    display: flex;
    justify-content: center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.banner.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    @media (max-width: 738px) {
        justify-content: center;
    }
}






.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forum {
    width: 300px;
}

#messages {
    border: 1px solid #ddd;
    padding: 10px;
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

form {
    display: flex;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
}

button {
    padding: 10px;
    border: 1px solid #ddd;
    border-left: none;
    background-color: #106e9d;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

button:hover {
    background-color: #0aa284;
    transition: 2s;
} 