body {
    background-image: url(star-wars-digital-art-jp.jpg);
    background-repeat: no-repeat;
    height: inherit;
    font-size: 20px;
}



.in{
    position: relative;
    color: white;
    text-align: center;
    padding: 5rem;
    font-size: large;
}

.text{
    position: absolute;
}

.intro{
    color: white;
    text-align: center;
}

a{
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.color1{
    color: white;
}
.container1{
    justify-content: center;
}

.forum {
    width: 500px;
    background-color: white;
    text-align: center;
    align-items: center;
}

#messages {
    border: 1px solid #ddd;
    padding: 10px;
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

form {
    display: flex;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
}

button {
    padding: 10px;
    border: 2px solid black;
    border-left: none;
    background-color: #106e9d;
    color: white;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0aa284;
    transition: 2s;
} 